################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ood/v16/Browse.VC.opendb
/.vs/ood/v16
