################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ood/v16/Browse.VC.opendb
/.vs/ood/v16
/SimUDuck/.vs/SimUDuck/v16
/SimUDuck/SimUDuck/x64/Debug
/SimUDuck/x64/Debug
